<div class="row title-row sticky-top bg-light z-1">
  <div class="col-lg-12">
    <i class="fas fa-arrow-left text-dark fa-1x" onclick="goBack()"></i>
  </div>
  <h4 class="text-dark text-center"><%= operation %></h4>
  <hr>
</div>
